[Unit]
Description=ympd server daemon
Requires=network.target local-fs.target

[Service]
Environment=YMPD_USER=nobody
ExecStart=/usr/bin/ympd --user nobody --webport 127.0.0.1:8080 --host localhost --port 6600
Type=simple

[Install]
WantedBy=multi-user.target


